body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Define a altura mínima igual à altura da viewport */
  padding-bottom: 100px; /* Adiciona espaço na parte inferior */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --bg-color: var(--bg-color) #101113;
  --text-color: #fff;
  --main-color: #00ff88;
  --outro-color: #fcfcfc;
}
body {
  background-color: #222;
  color: #fff;
  font-family: courier;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
header {
  background-color: #101113;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  color: #888;
  padding: 0;
  margin: 0;
  align-items: center; /* Centraliza as categorias verticalmente */
  flex-wrap: wrap; /* Permite que as categorias quebrem para a próxima linha em telas menores */
  max-width: 100%; /* Garante que as categorias não ultrapassem a tela */

  white-space: nowrap; /* Impede que as categorias quebrem em várias linhas */
}
.logo {
  position: absolute;
  top: 0.5%;
  left: 2%;
}
.navegacao {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  flex-wrap: wrap; /* Permite que as categorias quebrem para a próxima linha em telas menores */
  max-width: 100%; /* Garante que as categorias não ultrapassem a tela */
  white-space: nowrap; /* Impede que as categorias quebrem em várias linhas */
}
.navegacao a {
  text-decoration: none;
  margin: 1vw;
  color: #fff;
  position: relative; /* Para posicionar a barra */
}

/* Estilos da barra */
.navegacao a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px; /* Altura da barra */
  background-color: #00ff88; /* Cor da barra */
  bottom: 50%; /* Posiciona a barra abaixo do texto */
  left: 0;
  transition: width 0s, transform 0.3s; /* Transições para largura e transformação */
}

/* Efeito de hover */
.navegacao a:hover::before {
  width: 100%; /* Largura da barra ao passar o mouse */
  transform: rotate(360deg); /* Rotação da barra ao passar o mouse */
}
@media (max-width: 768px) {
  .navegacao a {
    font-size: 10px; /* Reduz o tamanho da fonte em telas menores */
  }
}
.navegacao a:hover {
  color: var(--main-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra suave */
}
.header-icons {
  position: relative;
  display: inline-block;
  margin-right: 3vw;
  margin-top: 5px;
}

.opcoes-login {
  display: none;
  position: absolute;
  top: 100%; /* Posiciona as opções abaixo do ícone */
  right: 0;
  border: 1px solid #fff;
  background-color: #222;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 2; /* Valor maior para ficar em cima do banner */
}
#menu {
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  align-items: center;
}
.bx.bx-user-check {
  color: #fff;
}
.header-icons a {
  margin-bottom: 4px;
  font-size: 200%;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
}
.header-icons i:hover {
  transform: translateY(-5px);
  color: var(--main-color);
}
/* Estilo para o logo */
.logo img {
  max-width: 6vw;
}
/* Estilo para as categorias */
.categorias {
  color: #888;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Centraliza as categorias horizontalmente */
  align-items: center; /* Centraliza as categorias verticalmente */
  flex-wrap: wrap; /* Permite que as categorias quebrem para a próxima linha em telas menores */
  max-width: 100%; /* Garante que as categorias não ultrapassem a tela */
  white-space: nowrap; /* Impede que as categorias quebrem em várias linhas */
}

.categoria {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  margin: 1%; /* Espaçamento entre as categorias */
  cursor: pointer;
  padding: 10px 20px; /* Espaçamento interno para o conteúdo da categoria */
  border: 1px solid #444; /* Adiciona uma borda */
  border-radius: 5px;
  text-align: center; /* Centraliza o texto horizontalmente */
  transition: transform 0.3s, color 0.3s, background-color 0.3s; /* Adiciona transições suaves */
}

.categoria:hover {
  transform: translateY(-5px);
  color: #fff; /* Cor dos links ao passar o mouse */
  background-color: #444; /* Cor de fundo ao passar o mouse */
}

.opcoes {
  position: absolute;
  list-style-type: none;
  padding: 10px;
  font-size: 12px;
  margin: 0;
  top: 100%; /* Posicione abaixo da categoria */
  left: 0;
  background-color: #444;
  display: none; /* Oculta as opções por padrão */
}
/* Estilo para as opções das categorias */
.opcoes a {
  text-decoration: none;
  color: #fff; /* Cor do texto das opções */
  display: block; /* Mostra as opções em uma coluna */
  padding: 5px;
}
.opcoes a:hover {
  color: #39ff14; /* Cor dos links ao passar o mouse */
  transition: color 0.3s; /* Adiciona uma transição suave para a mudança de cor */
  opacity: 0.7; /* Reduz a opacidade ao passar o mouse */
  margin-left: 10px; /* Espaçamento entre o texto e o ícone */ /* Sublinhar o texto quando passa o mouse */
}

/* Estilo para a barra de pesquisa */
.barra-pesquisa {
  max-width: 80%; /* Garante que as categorias não ultrapassem a tela */
  white-space: nowrap;
  text-align: center;
  padding: 0px;
  background-color: #444;
  border-radius: 7px;
  max-width: 100%;
}
.barra-pesquisa input[type="text"] {
  width: 40%; /* Ocupa toda a largura da barra de pesquisa */
  padding: 20px;
  border: none;
  background-color: #555;
  color: #fff;
  border-radius: 10px;
}

.filtro-preco {
  width: 25vw;
  margin-right: 10px;
  padding: 1vw;
  background-color: #555; /* Cor de fundo do menu suspenso */
  border: none;
  color: #fff;
  border-radius: 3px;
}

.filtro-preco option {
  background-color: #555; /* Cor de fundo das opções do menu suspenso */
}

.filtro-preco:hover {
  cursor: pointer;
}

.filtro-preco:focus {
  outline: none; /* Remover a borda quando o menu suspenso está selecionado */
}

.menu-suspenso {
  margin-right: 10px;
  margin-left: 15px;
  padding: 20px;
  background-color: #555; /* Cor de fundo do menu suspenso */
  border: none;
  color: #fff;
  border-radius: 3px;
}

.menu-suspenso option {
  background-color: #555; /* Cor de fundo das opções do menu suspenso */
}

.menu-suspenso:hover {
  cursor: pointer;
}

.menu-suspenso:focus {
  outline: none; /* Remover a borda quando o menu suspenso está selecionado */
}

/* Estilo para o botão de pesquisa */
button {
  padding: 12px 30px;
  color: #fff; /* Cor do texto do botão */
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0px 10px 40px #00000056;
}

button:hover {
  background-color: #fff; /* Cor de fundo do botão quando passa o mouse */
  color: #000;
}

/* Estilo para o link de pesquisa por nome */
.barra-pesquisa a {
  text-decoration: none;
  color: #ffcc00; /* Cor do link de pesquisa por nome */
}

.barra-pesquisa a:hover {
  text-decoration: underline; /* Sublinhar o link quando passa o mouse */
}
.categoria-container {
  margin-top: 10px; /* Margem superior entre as categorias */
  background-color: #333; /* Cor de fundo escura para o retângulo */
  padding: 10px; /* Espaçamento interno para o conteúdo da categoria */
  border-radius: 5px 5px 0 0; /* Borda arredondada, apenas na parte superior */
  transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
}
#banner {
  width: 100%;
  height: 18vw; /* Altura do banner */
  overflow: hidden;
  position: relative;
}

#banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: opacity 1s ease-in-out;
}

/* Adicione quantas imagens desejar */
#banner img:nth-child(1) {
  opacity: 1;
}
/* Estilize o rodapé */
/* Estilize o rodapé */
.content {
  /* Adicione estilos para o conteúdo principal do seu site aqui */
  padding: 20px;
}

/* Estilize o rodapé */
footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  /* Fixa o rodapé na parte inferior da página */
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: "BlinkMacSystemFont", -apple-system, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

/* Estilize os ícones das redes sociais */
.social-icons {
  list-style: none;
  padding: 0;
}

.social-icons li {
  display: inline;
  margin: 0 10px;
}

.social-icons a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.main-login {
  width: 100vw;
  height: 100vh;
  background-color: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-login {
  width: 50vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* deixar embaixo mesmo usando display flex */
}
.left-login h1 {
  font-size: 3vw;
  color: #77ffc0;
}
.left-login-img {
  width: 35vw;
}
.right-login {
  width: 50vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}
.card-login > h1 {
  color: #00ff88;
  font-weight: 300;
  margin: 0;
}
.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.textfield input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}
.textfield label {
  color: #f0ffffde;
  margin-bottom: 10px;
}
.textfield > input::placeholder {
  color: #f0ffff94;
}
.btn-login {
  width: 30%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 10px;
  outline: none;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  color: #2b134b;
  background: #00ff88;
  box-shadow: 0px 10px 40px -12px #00ff88;
}
@media only screen and (max-width: 950px) {
  .card-login {
    width: 85%;
  }
}
@media only screen and (max-width: 600px) {
  .main-login {
    flex-direction: column;
  }
  .left-login h1 {
    display: none;
  }
  .left-login {
    width: 100%;
    height: auto;
  }
  .right-login {
    width: 100%;
    height: auto;
  }
  .left-login-img {
    width: 70vw;
  }
  .card-login {
    width: 90%;
  }
}
.catalogo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20%;
  padding: 20px;
}
.skin {
  background-color: #101113;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  max-width: 250px;
}

.skin img {
  max-width: 100%;
}

button {
  background-color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #00ff88;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}
.main-cadastro {
  width: 100vw;
  height: 100vh;
  background-color: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-cadastro {
  width: 50vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* deixar embaixo mesmo usando display flex */
}
.left-cadastro h1 {
  font-size: 3vw;
  color: #77ffc0;
}
.left-cadastro-img {
  width: 35vw;
}
.right-cadastro {
  width: 50vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-cadastro {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}
.card-cadastro > h1 {
  color: #00ff88;
  font-weight: 300;
  margin: 0;
}
.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.textfield input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}
.textfield label {
  color: #f0ffffde;
  margin-bottom: 10px;
}
.textfield > input::placeholder {
  color: #f0ffff94;
}
.btn-cadastro {
  width: 30%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 10px;
  outline: none;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  color: #2b134b;
  background: #00ff88;
  box-shadow: 0px 10px 40px -12px #00ff88;
}
@media only screen and (max-width: 950px) {
  .card-cadastro {
    width: 85%;
  }
}
@media only screen and (max-width: 600px) {
  .main-cadastro {
    flex-direction: column;
  }
  .left-cadastro h1 {
    display: none;
  }
  .left-cadastro {
    width: 100%;
    height: auto;
  }
  .right-cadastro {
    width: 100%;
    height: auto;
  }
  .left-cadastro-img {
    width: 70vw;
  }
  .card-cadastro {
    width: 90%;
  }
}
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

/* Cor de fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: #555;
}

/* Cor do indicador (a parte que você arrasta) */
::-webkit-scrollbar-thumb {
  background-color: #00ff88;
}

/* Cor quando você passa o mouse sobre a barra de rolagem */
::-webkit-scrollbar-thumb:hover {
  background-color: #00ff88;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px; /* Espaço entre os itens */
  margin-top: 4%;
}

.item {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  position: relative;
}
.item h2 {
  margin-top: 15px;
  font-size: 70%;
}
.item p {
  font-size: 70%;
  color: #acacac;
}
.item .preco-total p {
  color: #fff;
  margin-top: 20px;
}
.ppreco p {
  margin-bottom: 15px;
}
.item img {
  max-width: 10vw; /* Defina a largura máxima desejada em pixels */
  height: auto; /* Mantém a proporção original da imagem */
}
/* Estilize os ícones como desejar */
.item .steam-icon,
.item .info-icon {
  font-size: 160%; /* Tamanho do ícone */
  color: #00ff88; /* Cor do ícone */
  cursor: pointer;
  transition: color 0.3s; /* Efeito de transição de cor */
  position: absolute;
  margin-bottom: 20px;
}

.item .steam-icon {
  right: 40%;
  bottom: 20%;
}

.item .info-icon {
  left: 40%;
  bottom: 20%;
}

.item .steam-icon:hover,
.item .info-icon:hover {
  color: #77ffc0; /* Cor do ícone ao passar o mouse */
}
/* Estilize as imagens menores e os valores */
.item .small-images {
  display: flex;
  justify-content: space-between;
}

.item .small-image {
  flex: 1;
  margin-top: -2vw;
  margin-right: 10px;
  margin-bottom: 2vw;
}

.item .small-image img {
  max-width: 100%;
  height: auto;
}

.item .small-image p {
  font-weight: bold;
  font-size: 70%;
}
/* Estilize o ícone de exclamação arredondado */
.rounded-exclamation {
  display: flex;
  position: absolute;
  background-color: #fff; /* Cor de fundo (vermelho) */
  color: #000; /* Cor do ícone (branco) */
  font-size: 30px; /* Tamanho do ícone */
  width: 20px; /* Largura do ícone */
  height: 20px; /* Altura do ícone */
  border-radius: 50%; /* Tornar o ícone arredondado */
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  line-height: 22px;
}
.cart-container {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #111;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  padding: 10px;
  border-radius: 5px;
}

.cart {
  width: 250px;
}

.cart h2 {
  font-size: 18px;
  margin: 0;
}

.cart-items {
  list-style-type: none;
  padding: 0;
}

.cart-items li {
  margin: 5px 0;
  font-size: 14px;
}

.total {
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

/* Adicione mais estilos conforme necessário */
.hidden {
  display: none;
}
.whatsapp-link {
  display: inline-flex;
  align-items: center;
  background-color: #00ff88;
  color: #fff;
  transition: background-color 0.3s ease;
}

.whatsapp-link img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.whatsapp-link:hover {
  background-color: #25d366;
}
